body {
  background-color: var(--bg);
  font-family: 'Kanit', 'Roboto', sans-serif;
  color: var(--text);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: hidden;
}

input {
  width: 100%;
  padding: 6px 16px;
  font-family: 'Kanit', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 6px;
  border-width: 1px;
  border-color: var(--input);
  background-color: var(--bg);
  color: var(--text);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    color: var(--input-text);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--input-shadow);
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button);
  color: var(--button-text);
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: var(--button-focus);
  }
}

h1 {
  text-align: center;
}
