@use 'sass:map';

$breakpoints: (
  mobile-max: 767px,
  tablet-min: 768px,
  tablet-max: 1023px,
  desktop-min: 1024px
);

@mixin flex-center($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin mobile {
  @media screen and (max-width: #{map.get($breakpoints, mobile-max)}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{map.get($breakpoints, tablet-min)}) and (max-width: #{map.get($breakpoints, tablet-max)}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{map.get($breakpoints, desktop-min)}) {
    @content;
  }
}
