@font-face {
  font-family: 'Kanit';
  src: url('/src/assets/fonts/Kanit-Regular.woff') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src: url('/src/assets/fonts/Kanit-Medium.woff') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
