@use 'sass:map';

$colors: (
  black: #252525,
  black-light: #666666,
  black-opacity: #25252580,
  focus-purple: rgba(44, 79, 229, 0.75),
  gray: #cdcdcd,
  purple: #6c63ff,
  purple-light: #c3c1e5,
  purple-opacity: #6c63ff33,
  purple-shadow: #6c63ff66,
  purple-focus: rgba(44, 79, 229, 0.75),
  red: #e50000,
  white: #f7f7f7,
  white-opacity: #ffffff80,
  white-shadow: #ffffff66,

  error-red: #df4040,
  error-red-dark: #8f36368a
);

$themes: (
  light: (
    bg: map.get($colors, white),
    text: map.get($colors, black),
    text-crossed: map.get($colors, black-opacity),
    input: map.get($colors, rgba(21, 64, 243, 0.75)),
    input-shadow: map.get($colors, purple-shadow),
    input-text: map.get($colors, purple-light)
  ),
  dark: (
    bg: map.get($colors, black),
    text: map.get($colors, white),
    text-crossed: map.get($colors, white-opacity),
    input: map.get($colors, white),
    input-shadow: map.get($colors, white-shadow),
    input-text: map.get($colors, black-light)
  )
);

/// @param {type} $theme-map - Карта с ключами и значениями переменных темы
/// @return {type} - Новая карта для CSS переменных
@function generate-theme-vars($theme-map) {
  $vars: ();
  @each $key, $value in $theme-map {
    $vars: map.merge($vars, (#{$key}: $value));
  }
  @return $vars;
}

:root,
[data-theme='light'] {
  $light-vars: generate-theme-vars(map.get($themes, light));
  @each $key, $value in $light-vars {
    --#{$key}: #{$value};
  }

  --icon-gray: #{map.get($colors, gray)};
  --icon-red: #{map.get($colors, red)};
  --icon-purple: #{map.get($colors, rgba(21,64,243,0.75))};

  --button: #{map.get($colors, purple)};
  --button-focus: #{map.get($colors, purple-focus)};
  --button-focus-light: #{map.get($colors, purple-opacity)};
  --button-text: #{map.get($colors, white)};
  --reverse-button-border: #{map.get($colors, rgba(21,64,243,0.75))};
  --reverse-button: #{map.get($colors, white)};
  --reverse-button-text: #{map.get($colors, rgba(21,64,243,0.75))};

  --error-red: #{map.get($colors, error-red)};
  --error-bg: #{map.get($colors, error-red-dark)};
}

[data-theme='dark'] {
  $dark-vars: generate-theme-vars(map.get($themes, dark));
  @each $key, $value in $dark-vars {
    --#{$key}: #{$value};
  }
}
